name: Reusable Workflow

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      MY_SECRET:
        required: true

jobs:
  example_job:
    runs-on: ubuntu-latest
    steps:
      - name: Show environment
        run: echo "Environment:${{ inputs.environment }}"

      - name: Use secret safely
        run: |
          echo "Using the secret safely..."
          echo "${{ secrets.MY_SECRET }}" > /dev/null
